{% extends "layout.html" %}
{% block title %}
    Workouts
{% endblock %}
{% block content %}

    <p>Page for recording workout data.</p>

    <!-- ChatGPT helped optimise this form for mobile -->
    <form action="/workout" method="post" class="container">

        <!-- Date and Workout Day -->
        <div class="mb-3">
            <label><h3>Date: </h3>
            <input class="form-control mx-auto w-auto" type="date" id="date" name="date">
            </label>
        </div>
        <div class="mb-3">
            <label><h3>Workout day: </h3>
            <select class="form-control mx-auto w-auto" name="workout-day" id="workout-day">
                {% for workout in workout_list %}
                    <option value={{ workout['Day'] }}>Day {{ workout['Day'] }} - {{ workout['Name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Exercise and Load Metric -->
        <div class="mb-3">
            <label><h3>Exercise: </h3>
                <select class="form-control mx-auto w-auto" name="exercise" id="exercise">
                    <option id="exercise-a" value=""></option>
                    <option id="exercise-b" value=""></option>
                    <option id="exercise-c" value=""></option>
                    <option id="exercise-d" value=""></option>
                    <option id="exercise-e" value=""></option>
                    <option id="exercise-f" value=""></option>
                    <option id="exercise-other" value ="other">Other</option>
                </select>
            </label>
            <input class="form-control mx-auto w-auto" type="text" id="other-option-input" placeholder="Enter your exercise">
        </div>
        <div class="mb-3">
            <label><h3>Load metric: </h3>
                <select class="form-control mx-auto w-auto" name="load-metric" id="load-metric">
                    <option id="metric-one" value="kg">kg</option>
                    <option id="metric-two" value="lbs">lbs</option>
                    <option id="metric-three" value="bodyweight">bodyweight</option>
                    <option id="metric-four" value="other">other</option>
                </select>
            </label>
        </div>
        <div class="mb-3 d-flex align-items-center">
            <p id="previous-workout"></p>
        </div>
        
        <!-- Sets and Notes -->
        <div class="mb-3">
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <h4>Set One</h4>
                        <label>Weight: <input class="form-control mx-auto w-auto" name="set-one-weight" id="set-one-weight" type="text"></label>
                        <label>Reps: <input class="form-control mx-auto w-auto" name="set-one-reps" id="set-one-reps" type="number" min="1"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <h4>Set Two</h4>
                        <label>Weight: <input class="form-control mx-auto w-auto" name="set-two-weight" id="set-two-weight" type="text"></label>
                        <label>Reps: <input class="form-control mx-auto w-auto" name="set-two-reps" id="set-two-reps" type="number"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <h4>Set Three</h4>
                        <label>Weight: <input class="form-control mx-auto w-auto" name="set-three-weight" id="set-three-weight" type="text"></label>
                        <label>Reps: <input class="form-control mx-auto w-auto" name="set-three-reps" id="set-three-reps" type="number"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <h4>Set Four</h4>
                        <label>Weight: <input class="form-control mx-auto w-auto" name="set-four-weight" id="set-four-weight" type="text"></label>
                        <label>Reps: <input class="form-control mx-auto w-auto" name="set-four-reps" id="set-four-reps" type="number"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <h4>Set Five</h4>
                        <label>Weight: <input class="form-control mx-auto w-auto" name="set-five-weight" id="set-five-weight" type="text"></label>
                        <label>Reps: <input class="form-control mx-auto w-auto" name="set-five-reps" id="set-five-reps" type="number"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <label><h4>Notes:</h4><textarea class="form-control mx-auto w-auto" name="notes" id="notes" rows="6" cols="40"></textarea></label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Log</button>
        </div>

    </form>

    <script>
        const DateInput = document.getElementById('date');
        const WorkoutDay = document.getElementById('workout-day');
        const Exercise = document.getElementById('exercise');
        const LastWorkout = JSON.parse({{ last_workout_json | tojson | safe }});
        let exerciseArray = [];
        for (let i = 0; i < 6; i++)
            exerciseArray[i] = document.getElementById(`exercise-${String.fromCharCode(97 + i)}`);
        const WorkoutList = JSON.parse({{ workout_list_json | tojson | safe }});
        console.log('Last Workout is: ', LastWorkout);
        console.log(WorkoutList);
        const Numbers = ['one', 'two', 'three', 'four', 'five'];
        const CapNumbers = ['One', 'Two', 'Three', 'Four', 'Five'];
        const Letters = ['A', 'B', 'C', 'D', 'E', 'F'];
        let setsElements = {};
        for (let i = 0; i < Numbers.length; i++) {
            setsElements[`${Numbers[i]}-weight`] = document.getElementById(`set-${Numbers[i]}-weight`)
            setsElements[`${Numbers[i]}-reps`] = document.getElementById(`set-${Numbers[i]}-reps`)
        }
        const ExerciseOther = document.getElementById("exercise-other")
        const OtherOptionInput = document.getElementById("other-option-input");
        const PreviousWorkout = document.getElementById('previous-workout');


        // Sort LastWorkout by Day and then by Actual_Order: [Help from ChatGPT and https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort]
        let sortedLastWorkout = LastWorkout;
        sort_workout_null_number(sortedLastWorkout, 'Actual_Order');
        sort_workout_null_number(sortedLastWorkout, 'Day');
        console.log('SortedLastWorkout is: ', sortedLastWorkout);

        document.addEventListener('DOMContentLoaded', function() {
            // Perform any actions you want when the DOM is fully loaded
            const DefaultWorkout = 1;
            const DefaultExercise = 'A';
            
            updateExerciseOptions(DefaultWorkout);
            updateExercisePlaceholders(DefaultExercise);

            

            // From https://www.freecodecamp.org/news/javascript-get-current-date-todays-date-in-js/
            const date = new Date();

            let day = String(date.getDate());
            if (day.length == 1) {
                day = '0' + day;
            };
            let month = String(date.getMonth() + 1);
            if (month.length == 1) {
                month = '0' + month;
            }
            let year = date.getFullYear();

            let currentDate = `${year}-${month}-${day}`;

            DateInput.value = currentDate;

            console.log(currentDate);
        });

        // Add an event listener for the 'change' event
        WorkoutDay.addEventListener('change', function(event) {
            // Get the selected workout value
            const SelectedWorkout = event.target.value;

            // Perform any actions you want based on the selected workout
            console.log('Selected workout:', SelectedWorkout);

            // Example: Call a function to update the exercise options
            updateExerciseOptions(SelectedWorkout);
        });

        // Add an event listener for the 'change' event
        Exercise.addEventListener('change', function(event) {
            // Get the selected workout value
            const SelectedExercise = event.target.value;;

            // Perform any actions you want based on the selected workout
            console.log('Selected exercise:', SelectedExercise);

            // Example: Call a function to update the exercise placeholders
            updateExercisePlaceholders(SelectedExercise);
        });

        // ChatGPT helped with this event listener
        OtherOptionInput.addEventListener('input', function() {
            // Update the value of the selected option to match the input value
            ExerciseOther.value = OtherOptionInput.value;
            console.log('Input value is', OtherOptionInput.value);
            console.log('Option value is', Exercise.value);
            console.log('Exercise value is', Exercise.value);
        });

        // Function to update exercise options based on the selected workout
        function updateExerciseOptions(SelectedWorkout) {
    
            let exerciselist = [];
            let lastWorkoutList = [];
            let lastWorkoutOrder = [];

            // Clear Previous Workout text content
            PreviousWorkout.textContent = '';

            for (let i = 0; i < WorkoutList.length; i++) {
                if (WorkoutList[i]['Day'] == SelectedWorkout) {
                    exerciselist = WorkoutList[i]['Exercises'];
                }
            };

            let exercises = {}
            for (let i = 0; i < exerciselist.length; i++) {
                h = exerciselist[i]["Order"];
                exercises[h] = exerciselist[i]["Name"];
            };

            for (let i = 0; i < exerciseArray.length; i++) {
                exerciseArray[i].value = String.fromCharCode(65 + i)
                exerciseArray[i].textContent = exercises[String.fromCharCode(65 + i)]
            }

            for (let i = 0; i < LastWorkout.length; i++) {
                if (LastWorkout[i]['Day'] == SelectedWorkout) {
                    lastWorkoutOrder.push(LastWorkout[i]['Actual_Order']);
                }
            }

            lastWorkoutOrder.sort((a,b) => a-b); // From https://medium.com/coding-at-dawn/how-to-sort-an-array-numerically-in-javascript-2b22710e3958#:~:text=In%20order%20to%20sort%20a,difference%20between%20the%20two%20numbers.

            testArray = [];
            trackArray = [-1];

            // Track/identify if an 'Order' appears more than once
            for (let i = 0; i < lastWorkoutOrder.length; i++) {
                for (let j = (trackArray[i] + 1); j < sortedLastWorkout.length; j++) {
                    if ((sortedLastWorkout[j]['Day'] == SelectedWorkout) && (sortedLastWorkout[j]['Actual_Order'] == lastWorkoutOrder[i])) {
                        lastWorkoutList.push(sortedLastWorkout[j]['Exercise']);
                        testArray.push(sortedLastWorkout[j]['Day']);
                        trackArray.push(j);
                        break;
                    }
                }
            }

            for (let i = 0; i < lastWorkoutList.length; i++) {
                PreviousWorkout.textContent += `Order: ${i}, Exercise: ${lastWorkoutList[i]}\n`;
            }

            console.log('SelectedWorkout is ', SelectedWorkout);
            console.log('testArray is: ', testArray);
            
            console.log(lastWorkoutOrder);
            console.log('Last workoutlist is: ', lastWorkoutList);
        }


        // Function to update exercise reps and set placeholders based on the selected exercise
        function updateExercisePlaceholders(SelectedExercise) {
    
            let exerciseDetails = {};

            // ChatGPT helped with this function - ensures that Other input is only shown when Other Exercise selected
            
            if (!(Letters.includes(SelectedExercise))) {
                OtherOptionInput.style.display = 'inline-block';
            } else {
                OtherOptionInput.style.display = 'none';
            }
            

            for (let i = 0; i < LastWorkout.length; i++) {
                if ((LastWorkout[i]['Day'] == WorkoutDay.value) && (LastWorkout[i]['Sheet_Order']) == SelectedExercise) {
                    for (let j = 0; j < Numbers.length; j++) {
                        let weight = LastWorkout[i][`Set${CapNumbers[j]}_Weight`];
                        let reps = LastWorkout[i][`Set${CapNumbers[j]}_Reps`];
                        if (weight == null) {
                            setsElements[`${Numbers[j]}-weight`].placeholder = '';
                        } else {
                            setsElements[`${Numbers[j]}-weight`].placeholder = weight;
                        };
                        if (reps == null) {
                            setsElements[`${Numbers[j]}-reps`].placeholder = '';
                        } else {
                            setsElements[`${Numbers[j]}-reps`].placeholder = reps;
                        };
                    }
                }
            }

        }


        // Sort WorkoutList by Day and then Actual Order [Help from ChatGPT and https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort]
        function sort_workout_null_number(items, criteria) {
            items.sort((a, b) => {
                if (a[criteria] === null && b[criteria] !== null) {
                    return 1;
                } else if (a[criteria] !== null && b[criteria] === null) {
                    return -1;
                } else {
                    return a[criteria] - b[criteria];
                }
            });
        }

    </script>

{% endblock %}